vieneu==3.0.9
torch==2.6.0+cu124
transformers
tokenizers
einops
safetensors
regex
PyYAML
tqdm
imageio-ffmpeg
customtkinter
pygame
opencv-python-headless
pillow
mutagen
soundfile
soxr
scipy
huggingface-hub